<!DOCTYPE html>
<html lang="en">
<head>
  <title>Vent</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='main_nav.css') }}">
  <link href="https://fonts.googleapis.com/css?family=Raleway+Dots" rel="stylesheet" type="text/css">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
</head>
<body>

<!-- Navbar -->
<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">VENT</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/">HOME</a></li>
        <li><a href="about">ABOUT</a></li>
      </ul>
    </div>
  </div>
</nav>


<div class="container-fluid bg-2 text-center" style="padding-top: 75px; padding-bottom: 125px">
    <h2>WHAT IS VENT?</h2>

    <hr>
    <p> Sometimes, people are holding onto problems that are easier to share with strangers than with friends or family.  Other times, people need a way to let off some steam.
      <br>
      <br>
    Vent aims to solve both of these issues. It provides a safe space for two strangers to respectfully discuss their problems, as well as a space to just roast the shit out of each other.  Best of all, it can be used on virtually any device. All you need is an internet connection! </p>

    <hr>
		<h2>HOW IT WORKS</h2>

		<p>1) Select what you want to do: VENT or ROAST.<p>

		<p>2) Wait while we quickly match you up with another person...</p>

		<p>3) And that's it. You're all set to Vent or Roast.

</div>

<!-- Footer -->
<section>
  <ul id="services">
    <h2>Follow Us</h2>
    <li>
      <div class="facebook">
        <a href="https://facebook.com">
          <i class="fa fa-facebook" aria-hidden="true"></i>
        </a>
      </div>
      <span>Facebook</span>
    </li>
    <li>
      <div class="twitter">
        <a href="https://twitter.com">
          <i class="fa fa-twitter" aria-hidden="true"></i>
        </a>
      </div>
      <span>Twitter</span>
    </li>

    <li>
      <div class="instagram">
        <a href="https://www.linkedin.com">
          <i class="fa fa-instagram" aria-hidden="true"></i>
        </a>
      </div>
      <span>Instagram</span>
    </li>
    <li>
      <div class="github">
        <a href="https://github.com">
          <i class="fa fa-github" aria-hidden="true"></i>
        </a>
      </div>
      <span>Github</span>
    </li>
  </ul>
</section>

</body>
</html>
