<!DOCTYPE html>
<html>

<head>
    <title> Vent test video </title>
    <link href="{{ url_for('static', filename='app.css') }}" rel="stylesheet" type="text/css">

    <script src="https://static.opentok.com/v2/js/opentok.min.js"></script>

    <!-- Polyfill for fetch API so that we can fetch the sessionId and token in IE11 -->
    <script src="https://cdn.jsdelivr.net/npm/promise-polyfill@7/dist/polyfill.min.js" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fetch/2.0.3/fetch.min.js" charset="utf-8"></script>
</head>

<body>

    <div id="videos">
        <div id="subscriber"></div>
        <div id="publisher"></div>
    </div>
    <div id="textchat">
         <p id="history"></p>
        <form>
            <input type="text" placeholder="Input your text here" id="msgTxt"></input>
        </form>
    </div>
    <script>
      var sessionId = "{{ session_id }}"
      var token = "{{ token }}"
      var apiKey = "{{ api_key }}"
      console.log(sessionId)
      console.log(token)
      console.log(apiKey)
    </script>
    <script type="text/javascript" src="{{ url_for('static', filename='app.js') }}"></script>
</body>

</html>
